* {
    /*zerando parâmetros para qualquer navegador (boa prática)*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /*fonte do google font*/
    outline: none;
    /*para não aparecer a caixa de pesquisa sublinhada quando clicar nela*/
}

body {
    /*imagem de fundo que ficará sobre todo o body*/
    background: url("./img/fundo-sol.jpg");
}

body.light {
    background: url("./img/fundo-sol.jpg");
}

body.dark {
    background: url("./img/foto-fundo-escuro.png");
    background-color: #121212;
}

.container {
    /*este container é a tela cinza que fica no meio da tela*/
    background-color: #d1d1d1;
    /*seta a cor dela*/
    width: 500px;
    /*largura da tela cinza*/
    border-radius: 10px;
    /*seta uma borda arredondada para o container*/
    padding: 20px;
    /*tamanho dos objetos dentro do container*/
    margin: 100px auto 0;
    /*une os comandos margin-left: auto, margin-right: auto e margin-top: 100px*/

    /*margin-left: auto, quando combinada com margin-right: auto, a imagem centraliza na tela
    margin-left: auto; deixa a imagem totalmente na direita
    margin-right: auto; deixa a imagem totalmente na esquerda
    margin-top: 100px; para afastar (abaixar) a tela cinza do meio superior*/
}

.container.light {
    background-color: #d1d1d1;
}

.container.dark {
    background-color: #1e1e1e;
}

.input-task {
    /*caixa para escrever sobre as tasks*/
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    /*para não ficar colado quando for digitar*/
    font-size: 15px;
    /*tamanho da escrita dentro da caixa*/
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    /*cor do botão*/
    color: #ffffff;
    /*cor da escrita do botão*/
    font-size: 17px;
    padding: 0 15px;
    /*0 para cima e baixo (1° parâmetro) e 15px para as duas laterais (2° parâmetro)*/
    float: right;
    cursor: pointer;
    /*quando passar com o mouse sobre o botão, troca para a mãozinha*/
    font-weight: 700;
    /*grossura da fonte Roboto (Bold 700)*/
}

.button-add-task:hover {
    /*evento quando passar o mouse encima do botão*/
    opacity: 0.8;
    /*transparência do item (invisível se for 0)*/
}

.button-add-task:active {
    /*evento quando o botão for clicado*/
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    /*para (a ul) ocupar a linha inteira*/
    list-style: none;
    /*tirar a bolinha (usado em listas) colocada pelo HTML*/
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    /*sombra da caixa da task*/
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    /*mãozinha quando passar encima da tarefa*/
}

.task.light {
    background-color: #f2f2f2;
}

.task.dark {
    background-color: #333333;
    color: #ffffff;
}

img {
    height: 25px;
    opacity: 0;

    /*por parâmetros (1°) nome do elemento em que você irá fazer a transição, (2°) tempo dela, (3°) tipo da transição*/
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    /*quando o mouse passar encima do item da lista, a imagem muda*/
    opacity: 1;
}

.done { /*quando a tarefa estiver concluída*/
    background-color: #8fac55;
    text-decoration: line-through; /*estilo de linha cortando a palavra*/
}

.button-toggle-theme {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0px;
}